@import "src/styles/global";

.container {
  background: $background-color;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
}

.inner-container {
  height: 80%;
  padding: 12px;
  background: $canvas-color;
  border-radius: 10px;
}