@import "src/styles/global";

.btn {
  background-color: $button-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  border-radius: 6px;
  position: relative;
  margin: 4px;
}

.btn::after {
  background: #fff;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  bottom: 20%;
}

.btn:hover::after {
  width: 60%;
  left: 20%;
}

.default {

}
